.movie-filter {
  position: relative;
  width: 130px;
  margin: 0 12px;
}

.select-container {
  width: 100%;
  height: 33px;
  border: 1px solid var(--tertiary-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 999;
}

.select-container .__select-text {
  width: calc(120px - 25px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 8px;
  color: var(--primary-color);
  cursor: default;
  text-align: left;
}

.select-container .__icon {
  margin: 0 5px;
}

.options-container {
  position: absolute;
  background: #ffffff;
  top: 33px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 0 5px #ddd;
  padding: 8px 4px;
  z-index: 99;
  max-height: 90vh;
  overflow: auto;
}

.options-container .option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 8px;
  cursor: pointer;
}

.options-container .option .__checkbox {
  width: 12px;
  height: 12px;
  border: 1px solid var(--secondary-color);
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.options-container .option.active .__checkbox {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.options-container .option .__value {
  user-select: none;
  color: var(--grey-color);
  font-size: 12px;
}

.options-container .option:hover .__value {
  color: var(--tertiary-color);
}

.options-container .option .__checkbox .--icon {
  margin-bottom: 1px;
}

@media screen and (min-width: 480px) {
  .movie-filter {
    width: 150px;
  }

  .select-container .__select-text {
    width: calc(150px - 25px);
  }
}
