.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #49ba8e;
  --secondary-color: #454343;
  --tertiary-color: #49ba8e;
  --grey-color: #818181;
  --light-grey-color: #f3f3f3;
}

.font-small {
  font-size: 11px;
}
.font-regular {
  font-size: 14px;
}
.font-medium {
  font-size: 16px;
}
.font-large {
  font-size: 18px;
}

.__btn {
  border: none;
  padding: 10px 18px;
  border-radius: 4px;
  font-size: 10px;
  margin: 0 12px;
  cursor: pointer;
}

.__btn-primary {
  background-color: var(--primary-color);
  color: #ffffff;
}

.__btn-secondary {
  background-color: var(--light-grey-color);
  color: #818181;
}

@media screen and (min-width: 990px) {
  .__btn {
    border: none;
    padding: 10px 26px;
    border-radius: 4px;
    font-size: 12px;
    margin: 0 12px;
  }
}
